
<div class="col-2">
    <table class="table table-primary">
        <tr>
            <td>
                <a asp-area="" asp-controller="PersonalAccount" asp-action="Index" asp-route-userName="@User.Identity.Name">Редактирование данных</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-area="" asp-controller="PersonalAccount" asp-action="Orders" asp-route-userName="@User.Identity.Name">Посмотреть заказы</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-area="" asp-controller="PersonalAccount" asp-action="ChangePassword" asp-route-userName="@User.Identity.Name">Изменить пароль</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-area="" asp-controller="PersonalAccount" asp-action="DeleteAvatar" asp-route-userName="@User.Identity.Name">Удалить аватарку</a>
            </td>
        </tr>
    </table>
</div>