@model string

<form method="post">
    <div class="row">
        <div class="col-md-10">
            <h3 class="text-center text-danger">Добавление роли</h3>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <label for="name">Название</label><br />
                <input type="text" size="40" placeholder="роль" name="name" />                
            </div>
            <br/>
                <button class="btn btn-primary" type="submit" asp-area="admin" asp-controller="Roles" asp-action="AddRole">Добавить роль</button>
                <a class="btn btn-primary" asp-area="admin" asp-controller="Roles" asp-action="Index" role="button">Вернуться</a>            
        </div>
    </div>
</form>
